<!-- <img src="/assets/comsciubu-facebook.jpg" alt="CSUBU" class="center"> -->
<br><br>
<div class="card">
        <!-- <img src="/assets/images/sirilak.jpg" alt="John" style="width:100%">
        <h1>Sirilak Yomthaisong</h1>
        <p class="title">About Me</p>
        <p>Miw</p>
        <p>computer science</p>
        <p>Ubon Ratchathani University</p>
        <p>60114440316</p>
        <p>E-mail : sirilak.yo.60@ubu.ac.th</p>
        <p>Date of Birth : 24/07/1998</p>
        <p>Blood’s Group : B </p> -->
        <p></p>
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <p><button></button></p>
      </div>
