<!-- <img src="/assets/comsciubu-facebook.jpg" alt="CSUBU" class="center"> -->
<br><br>
<div class="card">
        <!-- <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/67432991_1372982139524172_4912383855710699520_n.jpg?_nc_cat=109&_nc_oc=AQkkJpVHiJj5wct6lUwVR7vwUu5KjPu8Z7im7O2YlCYXiPZAieaYxanEONBfaf75qBM&_nc_ht=scontent.fubp1-1.fna&oh=64aa7a6e91d5308ee05a75c83e3a4585&oe=5E17DB33" alt="John" style="width:100%">
        <h1>Sirilak Yomthaisong</h1> -->
        <p></p>
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <!-- <p><button>Miw</button></p> -->
      </div>
      <!-- /assets/images/sirilak.jpg -->
      